@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Player name: @Model.Board.PlayerName </h1>
    
    <table class="grid">
        <tbody>
            @for (int i = 0; i < Model.Board.Settings.Rows; i++)
            {
                <tr>
                    @for (int j = 0; j < Model.Board.Settings.Cols; j++)
                    {
                        var cell = Model.Board.Cells[i,j];
                        string style = cell.IsSelected ? "background-color:Red" : null;
                        <td style="@style" class="box">
                            @Model.Board.Cells[i,j].Value
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
